*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    font-weight: 2000;
    font-family: sans-serif;
    margin: 0px;
    padding-left: 20px;
}

body{
    font-family: sans-serif;
    background-color: #468585;
    height: 100vh;

}
.card{
    background-color: #fff;
    width: 600px;
    height: fit-content;
    margin: 90px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;
    
}
div.imgctn{
    width: 540px;
    border-radius: 20px;
    margin: 50 50 50 50;
    padding-left: 20px;
    
    
    
    
}
div.imgctn img{
    width: 500px;
    height: 100%;
    border-radius: 20px;
    
    
}

p{
    width: 500px;
    font-size: 14px;
    font-family: sans-serif;
    padding-left: 20px;
    
}

div.Preparation{
    background-color: rgba(236, 220, 234, 0.959);
    border-radius: 20px;
    margin: 10px;

    
}
strong{
    color: 000;

}
#mixall{
    margin-left: 25px;
    padding: 20px 0px 10px;
}

ul.a{
    list-style-position: inside;
    margin-left: 20px;
    padding: 10px 20px 10px;
}
h4{
    color: rgb(97, 6, 6);
    margin-left: 40px;
    padding: 20px 0px 0px 0px;
}
ul.b{
    list-style-position: inside;
    margin-left: 20px;
}

#instruct{
    margin-left: 25px;
    padding: 20px 0px 10px;
}   
ol{
    margin-left: 35px;
}
.ingredient{
    margin-bottom: 30px;
}

.instru{
    margin-bottom: 30px;
    
}
#nutrify{
    color: gray;
}
#nutri{
    color: rgb(97, 6, 6);
    margin: 20px 20px 0px 20px;
}
table{
    margin-left: 20px;
    margin-bottom: 10px;   
}
.row2{
    margin-right: 50px;
}
.horizontal line{
    width: 100%;
    height: 2px;
    
} 

b{
    color:rgb(97, 6, 6) ;
    margin-left: 200px;
}

.table{
    margin-left: 50px;
    margin-top: 10px;
    
}
td{
    border-bottom: 0.5px solid #9c9b9b; 
    
    


}
   

